
    <div class="ui inverted vertical footer segment">
        <div class="ui container">
            <div class="ui stackable inverted divided equal height stackable grid">
                <div class="seven wide column">
                    <h4 class="ui inverted header"></h4>
                    <a href="https://www.facebook.com/Unidata"><i class="huge facebook icon"></i></a>
                    <a href="https://twitter.com/Unidata"><i class="huge twitter icon"></i></a>
                    <a href="https://plus.google.com/105982992127916444326/posts"><i class="huge google plus icon"></i></a>
                    <a href="http://www.unidata.ucar.edu/blogs/news/feed/entries/atom"><i class="huge rss icon"></i></a>
                    <a href="http://www.youtube.com/user/unidatanews"><i class="huge youtube play icon"></i></a>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header">About</h4>
                    <div class="ui inverted link list">
                        <a href="https://www2.ucar.edu/about-us" class="item">UCAR</a>
                        <a href="http://www.unidata.ucar.edu/" class="item">Unidata Program Center</a>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header">Support</h4>
                    <div class="ui inverted link list">
                        <a href="mailto:support-awips@unidata.ucar.edu">support-awips@unidata.ucar.edu</a>
                        <a href="http://www.unidata.ucar.edu/support/requestSupport.jsp" class="item">Support Requests</a>
                        <a href="https://github.com/Unidata/awips2/issues" class="item">Report a Bug</a>
                        <a href="#" class="item">How To Access</a>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header">Documentation</h4>
                    <div class="ui inverted link list">
                        <a href="https://unidata.github.io/awips2" class="item">Unidata AWIPS User Manual</a>
                        <a href="https://python-awips.readthedocs.io" class="item">Python AWIPS API</a>
                        <a href="/geojson" class="item">GeoJSON AWIPS</a>
                        <a href="https://metpy.readthedocs.io" class="item">MetPy</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
