    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

        <title>AWIPS Data Portal</title>

        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
        <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

        <link rel="stylesheet" type="text/css" href="/css/semantic.min.css" />
        <link rel="stylesheet" type="text/css" href="/css/leaflet.css" />
        <link rel="stylesheet" type="text/css" href="/css/style.css" />

        <script type="text/javascript" src="/js/jquery-1.11.3.min.js"></script>
        <script src="https://d3js.org/d3.v4.min.js"></script>
        <script src="/js/visibility.min.js"></script>
        <script src="/js/sidebar.min.js"></script>
        <script src="/js/transition.min.js"></script>
        <script src="/js/tab.min.js"></script>
        <script src="/js/semantic.min.js"></script>
        <script src="/js/leaflet.js"></script>
        <script src="/js/leaflet-heat.js"></script>
        <script src="/js/leaflet-idw.js"></script>
        <script src="/js/parms.js"></script>
        <script src="/js/python-awips.js"></script>
        <script src="/js/remapped.js"></script>

        <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyArPg5g3tDauQ2g-bu0cyqv7oqgiKqtiz4">
        </script>
    </head>
