<!DOCTYPE html>
<html>

    {% include 'header.html' %}

    <body>

        <script type="text/javascript">
            $(document).ready(function(){

                $('#grid-select').val('{{ name }}');
                $('#site-select').val('{{ name }}');
                $('#prod-select').val('{{ parmname }}');
                $('#parm-select').val('{{ parmname }}');
                $('#level-select').val('{{ level }}');
                $('#cycle-select').val('{{ time }}');

                $("#server-select").change(function () {
                    location.href = "/inventory?server=" + $(this).val();
                });
                $("#grid-select").change(function () {
                    location.href = "/grid?name=" + $(this).val();
                });
                $("#site-select").change(function () {
                    location.href = "/radar?id=" + $(this).val();
                });
                $("#prod-select").change(function () {
                    location.href = "/radar?id={{ name }}&product=" + $(this).val();
                });
                $("#parm-select").change(function () {
                    location.href = "/grid?name={{ name }}&parm=" + $(this).val();
                    /*
                    var url = "/api?name={{ name }}&parm=" + $(this).val();
                    console.log(url);
                    getGeoJSON(url,function(response) {
                        var json = response.json;
                        var container = document.getElementById('dsmap');
                        var map = getMapConfig(container);
                        map.jsonMap.drawImage(json, response.json.metadata);
                    });
                    */
                });
                $("#level-select").change(function () {
                    location.href = "/grid?name={{ name }}&parm={{ parmname }}&level=" + $(this).val();
                });
            });
        </script>

        {% include 'page_header.html' %}

        <div class="ui stackable padded grid">

            <div class="ui four wide column">

                {{ sideContent }}

            </div>


            <div class="ui ten wide column">

                {{ mainContent }}

            </div>

        </div>

        {% include 'footer.html' %}

    </body>

</html>
