<!DOCTYPE html>
<html>

    {% include 'header.html' %}

    <body>
        <style>
            .sidemenu{
                overflow-y: scroll;
                position: absolute;
                height: 100%;
                width:100%;
                padding: 0;
                margin: 0;
            }
            .ui.search {
                margin: 5px 0;
                width: 85%;
            }
        </style>
        <script type="text/javascript">
            $(document).ready(function(){
                $('.menu .item')
                    .tab()
                ;

                $('.ui.search.dropdown.grid').dropdown({
                    fullTextSearch: true,
                    onSelect: function(value, text){
                        //location.href = "/grid?name=" + value;
                    },
                }).dropdown("set text","{{ name }}");

                $('.ui.search.dropdown.parm').dropdown({
                    fullTextSearch: true,
                    onSelect: function(value, text){
                        //location.href = "/grid?name={{ name }}&parm=" + value;
                    },
                }).dropdown("set text","{{ parmname }}");

                $('.ui.search.dropdown.level').dropdown({
                    fullTextSearch: true,
                    onSelect: function(value, text){
                        //location.href = "/grid?name={{ name }}&parm={{ parmname }}&level=" + value;
                    },
                }).dropdown("set text","{{ level }}");

                //$('#grid-select').dropdown('set selected', '{{ name }}');
                //$('#grid-select').val('{{ name }}');
                $('#site-select').val('{{ name }}');
                $('#prod-select').val('{{ parmname }}');
                //$('#parm-select').val('{{ parmname }}');
                //$('#level-select').val('{{ level }}');
                $('#cycle-select').val('{{ time }}');

                $("#server-select").change(function () {
                    location.href = "/inventory?server=" + $(this).val();
                });
                //$("#grid-select").change(function () {
                //
                //});
                $("#site-select").change(function () {
                    location.href = "/radar?id=" + $(this).val();
                });
                $("#prod-select").change(function () {
                    location.href = "/radar?id={{ name }}&product=" + $(this).val();
                });
                //$("#parm-select").change(function () {
                //    location.href = "/grid?name={{ name }}&parm=" + $(this).val();
                //});
                //$("#level-select").change(function () {
                //    location.href = "/grid?name={{ name }}&parm={{ parmname }}&level=" + $(this).val();
                //});
            });
        </script>




        <div class="ui fixed inverted main menu">
            <div class="">
                <div class="ui large secondary inverted pointing menu">
                    <a class="toc item">
                        <i class="sidebar icon"></i>
                    </a>
                    <a class="item" href="/">Home</a>
                    <a class="item" href="/inventory">Status</a>
                    <a class="item" href="/#api">Python API</a>
                    <a class="item" href="/geojson">GeoJSON</a>
                    <a class="item" href="/grid">Forecast Models</a>
                    <a class="item" href="/radar">NEXRAD Radar</a>
                </div>
            </div>
        </div>


        <div class="ui stackable padded grid container">

            <div class="ui four wide column sidemenu">

                {{ sideContent }}

            </div>

            <div class="ui ten wide column">

                {{ mainContent }}

            </div>

        </div>

        {% include 'footer.html' %}

    </body>

</html>
